@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --action: #72ddff;
  --action-hover: #58c9ec;
  --text-light: grey;
  --grey-light: rgb(196, 196, 196);
}

body {
  width: min(50rem, calc(100% - 20px));
  margin: 1rem auto;
  border: 1px solid rgb(209, 209, 209);
  font-size: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1;
}

input {
  padding: 0.25rem 0.35rem;
  border-radius: 0.25rem;
}

.btn-action {
  padding: 0.35rem 0.95rem;
  font-weight: bold;
  color: white;
  background-color: var(--action) !important;
  border-radius: 0.9rem;

  &:hover {
    background-color: var(--action-hover) !important;
  }
}

.btn-icon {
  background-color: transparent;
  color: var(--text-light);
  font-size: 1rem;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.text-light {
  color: var(--text-light);
}

.card {
  border-top: 2px solid var(--grey-light);
  padding: 1rem 1rem;
}
