@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --action: #72ddff;
  --action-hover: #58c9ec;
  --text-light: #545454;
  --text-transparent: #ffffff6e;
  --grey: rgb(196, 196, 196);
  --grey-light: #ebebeb;
  --green-light: #51f903;
  --green-activated: #aaff16;
  --green-disabled: #b6ceac;
  --green-hover: #46d802;
  --green-dark: #2f9102ce;
  --glass: white;
  --red: red;
  --purple: #c511ff;
}

.border-green {
  border: 2px solid var(--green-dark);
}

body {
  background-attachment: fixed;
  background-image: url(../SkyV1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  & a {
    color: var(--green-activated);
  }
}

.nav-bg {
  background-image: linear-gradient(90deg, green, #0ae002);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-weight: bold;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.75rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: 1;
}

label > input {
  width: 100%;
}

input {
  padding: 0.3rem 0.7rem;
  border-radius: 0.25rem;
}

button {
  user-select: none;
}

.btn-action {
  padding: 0.35rem 0.95rem;
  font-weight: bold;
  color: white;
  background-color: var(--green-light);
  border-radius: 0.9rem;
  text-align: center;

  &:hover {
    background-color: var(--green-hover);
  }

  &.activated {
    background-color: var(--green-activated);
  }

  &:disabled {
    background-color: var(--green-disabled) !important;
    color: var(--text-transparent);
  }
}

.btn-icon {
  background-color: transparent;
  color: #00ad29;
  font-size: 1rem;

  &:hover {
    font-weight: 700;
  }

  &.activated {
    color: var(--purple);
  }
}

.search-bar {
  transition: flex-basis 0.4s;

  &:focus-within {
    flex-basis: 22.5rem;

    & button {
      opacity: 1;
    }
  }

  & button {
    opacity: 0;
    transition: opacity 0.15s;
  }

  & input {
    background-color: var(--green-hover);
    border-radius: 1rem;
    border: 2px solid transparent;
    line-height: 1;

    &::placeholder {
      color: var(--green-activated);
    }

    &:focus-visible {
      outline: none;
      border-color: var(--green-activated);
    }
  }
}

.btn-transparent {
  color: white;
  background-color: transparent;
  aspect-ratio: 1;
  font-weight: 600;
  border-radius: 100%;

  &:hover:enabled {
    background-color: var(--text-transparent);
  }

  &:disabled {
    user-select: none;
    color: var(--text-transparent);
  }
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: underline 2px solid;
    text-underline-offset: 3px;
  }
}

.width-medium {
  width: min(50rem, calc(100% - 20px));
}

.text-rendered {
  & a {
    color: var(--purple);
  }
}

.text-area {
  & > * {
    border: 2px solid transparent;
    white-space: pre-wrap;
  }

  & textarea {
    background-color: #f2f2f2;

    &:focus {
      border-color: var(--green-dark);
      outline: 0;
    }
  }
}

.text-light {
  color: var(--text-light);
}

.glass {
  background-color: var(--glass);
}

.error-message {
  color: var(--red);
}

.activated {
  font-weight: bold;
}

*:user-invalid {
  border-color: red;
}

.unfollow {
  &:hover::before {
    content: "Unfollow";
  }

  &::before {
    content: "Following ";
  }
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
