@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --action: #72ddff;
  --action-hover: #58c9ec;
  --text-light: #545454;
  --grey: rgb(196, 196, 196);
  --grey-light: #ebebeb;
  --green-light: #51f903;
  --green-hover: #46d802;
  --green-dark: #2f9102ce;
  --glass: #3396052f;
  --red: red;
}

.border {
  border: 2px solid var(--green-dark);
}

.replyBorder {
  border: 1px solid var(--green-dark);
}

body {
  background-image: url(../SkyV1.png);
  background-size: cover;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-weight: bold;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.75rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: 1;
}

label > input {
  width: 100%;
}

input {
  padding: 0.25rem 0.35rem;
  border-radius: 0.25rem;
}

.nav-bg {
  background-image: linear-gradient(90deg, green, #0ae002);
}

.btn-action {
  padding: 0.35rem 0.95rem;
  font-weight: bold;
  color: white;
  background-color: var(--green-light) !important;
  border-radius: 0.9rem;
  text-align: center;

  &:hover {
    background-color: var(--green-hover) !important;
  }
}

.btn-icon {
  background-color: transparent;
  color: white;
  font-size: 1rem;

  &:hover {
    font-weight: 700;
  }
}

.btn-icon-nohover {
  background-color: transparent;
  color: white;
  font-size: 1rem;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.text-light {
  color: var(--text-light);
}

.glass {
  background-color: var(--glass);
  backdrop-filter: blur(23px);
}

.error-message {
  color: var(--red);
}

.activated {
  color: yellow;
}

:user-invalid {
  border-color: red;
}

.unfollow:hover::before {
  content: "Unfollow";
}

.unfollow::before {
  content: "Following ";
}
